In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys 
from selenium.webdriver import ActionChains
import time

driver = webdriver.Chrome('C:/Temp/chromedriver')
driver.implicitly_wait(3)
driver.get('http://datakorea.datastore.or.kr/profile/geo/05000KR41190/')
time.sleep(3)


# 유동인구로 스크롤
scr = driver.find_element_by_css_selector('section.유동인구.profile-section > article:nth-child(2) > div')
action = ActionChains(driver)
action.move_to_element(scr).perform()
time.sleep(3)

# 각 동을 클릭하고 reset 하기 위한 css 선택자
maps = driver.find_elements_by_css_selector('section.유동인구.profile-section > article:nth-child(2) > div > div > svg > g.paths > path')
reset = driver.find_element_by_css_selector('section.유동인구.profile-section > article:nth-child(2) > div > div > div.map-controls > div.zoom-reset')

# 데이터를 넣을 List
dong = []
year = []
total = []
man = []
woman = []
age10 = []
age20 = []
age30 = []
age40 = []
age50 = []
age60 = []

# 데이터의 css 선택자
css_year = 'section.유동인구.profile-section > article.topic > div > div > div.year-toggle > div > #d3plus_toggle_default4 > div:nth-child('
css = '#d3plus_tooltip_id_geo_map_sidebar > div > '
css1 = 'div.d3plus_tooltip_header > div'
css2_1 = 'div.d3plus_tooltip_data_container > div:nth-child('
css2_2 = ') > div.d3plus_tooltip_data_value'

# 크롤링
for j in range(4):
    toggle_y = driver.find_element_by_css_selector(css_year + str(j + 1) + ')')
    toggle_y.click()
    time.sleep(1)
    for content in maps:
        try :
            content.click()
            time.sleep(1)
            dong_text = driver.find_element_by_css_selector(css + css1)
            dong.append(dong_text.text)
            for i in range(10):
                idx = i * 2 + 1
                text = driver.find_element_by_css_selector(css + css2_1 + str(idx) + css2_2)
                if i == 0:
                    year.append(text.text)
                elif i == 1:
                    total.append(text.text)
                elif i == 2:
                    man.append(text.text)
                elif i == 3:
                    woman.append(text.text)
                elif i == 4:
                    age10.append(text.text)
                elif i == 5:
                    age20.append(text.text)
                elif i == 6:
                    age30.append(text.text)
                elif i == 7:
                    age40.append(text.text)
                elif i == 8:
                    age50.append(text.text)
                else:
                    age60.append(text.text)
            reset.click()
            time.sleep(1)
        except :
            print('끝')
            break

끝
끝
끝
끝

In [3]:
print(len(age10))
print(len(total))

84
84

In [15]:
import pandas as pd
import os

# 크롤링 한 데이터 Dictionary로 변환
dic = {
    'dong' : dong,
    'year' : year,
    'total' : total,
    'man' : man,
    'woman' : woman,
    'age10' : age10,
    'age20' : age20,
    'age30' : age30,
    'age40' : age40,
    'age50' : age50,
    'age60' : age60
}

# 데이터 프레임으로 변환
Float_population = pd.DataFrame(dic)
display(Float_population)

# 현재 워킹디렉토리 확인
os.getcwd()

# 파일 저장
Float_population.to_csv('./data/Float_population.csv')

,dong,year,total,man,woman,age10,age20,age30,age40,age50,age60
0,원미동,2015,"127,594.05","64,337.61","63,256.44","8,544.60","14,684.72","24,688.96","29,600.13","31,843.45","18,232.18"
1,심곡동,2015,"273,141.94","134,791.07","138,350.86","18,250.83","50,146.39","53,130.49","53,791.98","60,506.62","37,315.62"
2,춘의동,2015,"102,012.09","59,290.92","42,721.17","4,541.21","11,199.32","21,458.21","26,985.16","25,854.78","11,973.41"
3,도당동,2015,"124,726.34","72,614.20","52,112.14","8,115.33","13,483.10","25,230.34","33,264.42","31,039.66","13,593.49"
4,약대동,2015,"67,105.85","39,298.69","27,807.15","3,571.50","7,339.50","14,741.41","17,901.70","16,578.10","6,973.64"
...,...,...,...,...,...,...,...,...,...,...,...
79,오정동,2018,"78,116.03","52,433.95","25,682.08","3,178.64","8,407.74","16,252.94","18,538.51","19,312.64","12,425.56"
80,여월동,2018,"47,515.73","28,715.65","18,800.08","2,436.77","5,481.37","8,654.65","10,598.29","12,147.69","8,196.97"
81,작동,2018,"39,427.23","23,650.13","15,777.10","1,764.83","4,521.04","7,638.13","8,709.29","9,517.55","7,276.39"
82,원종동,2018,"134,292.16","82,690.91","51,601.25","6,225.18","15,690.45","25,894.25","29,184.01","33,693.37","23,604.90"
83,고강동,2018,"98,011.73","63,738.79","34,272.93","3,892.11","10,654.49","18,893.58","22,283.83","24,314.52","17,973.20"